*{
    margin: 0;
    padding: 0;
}

.page-1{
    background: #083846;
    height: 100%;
    width: 100%;
    position: absolute;

}
.page-1 .img0{
    width: 248px;
    position: absolute;
    top: 2%;
    margin-left: -124px;
    left: 50%;
}
.page-1 .img1{
    width: 185px;
    position: absolute;
    top: 62%;
    left: 50%;
    margin-left: -92px;
}

.page-1 .img2{
    width: 25px;
    position: absolute;
    top: 92%;
    left: 50%;
    margin-left: -12px;

}




/* 加动画 */
.moveFromTop{
    animation: moveFromTop 0.6s ease forwards;
}
@keyframes moveFromTop{
    from{
        transform: translateY(-100%);
    }
}
.moveFromLeft{
    animation: moveFromLeft 0.6s ease forwards;
}
@keyframes moveFromLeft{
    from{
        transform: translateX(-100%);
    }
}
.commonIcon{
    animation: commonIcon 1.2s ease infinite forwards;
}
@keyframes commonIcon{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    50%{
        transform: translateY(0%);
        opacity: 1;
    }
    100%{
        transform: translateY(-100%);
        opacity: 0;
    }
}
