<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="app">

    
        <input type="text" v-model="msg">
        <input type="radio" v-model="sex" value="boy">男
        <input type="radio" v-model="sex" value="girl">女
    </br>
        <input type="checkbox" v-model="hobby" value="吃饭">吃饭
        <input type="checkbox" v-model="hobby" value="睡觉">睡觉
        <input type="checkbox" v-model="hobby" value="敲代码">敲代码
    </br>

    <select v-model="school">
        <option value="林大">NEFU</option>
        <option value="黑大">HEIDA</option>
        <option value="理工">LIGONG</option>
    </select>


        <h2>
            {{msg}}
        </h2>
    </div>

    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                msg:'你最美！',
                sex:'boy',
                hobby:["睡觉"],
                school:"林大"
            }
        });
    </script>
    
</body>
</html>